<div class="container-fluid">
    <div class="row pl-1">


        <div class="form-group col-lg-2">
           

        </div><!--fim coluna 2-->

        <div class="form-group col-lg-2">
           
        </div><!--fim coluna 2-->
        <!--TIPO DE TRIBUTAÇÃO-->
    


        @*<div class="form-group col-lg-2">
            <label class="pr-fontalternativa">Total de Registros</label>
            <label style="border: none !important;" class="form-control form-control-sm">
                <span style="font-weight: bold;">@ViewBag.TotalRegistros</span>

            </label>

        </div>*@





    </div><!--linha do container do body-->
</div> <!--container do body-->